<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title  %></title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="container">
    <h1><%= title  %></h1>
    <p>Welcome to <%= title  %></p>
    <p>Click <a href="/users">here</a> to see the list of users</p>
    
    <p>Click <a href="/weather" class="weather-button">Go to Weather</a> to see weather</p>
  </div>
</body>
</html>
